body {
    background: deeppink;
	color: blue;
}

ul.nav > li {
    display: inline;
}

.left{
 	width: 75%;
    float: left;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}
ul.nav
{
	padding: 10px;
	background: black;
    color: white;
}

fieldset 
{
	border: 1px solid black;
	padding: 25px;
}	
legend 
{
	width: 250px;
	text-align: center;
}

aside
{
	float: left;
	width: 25%;
	padding:30px 0;
}

header > h1
{
	text-align: center;
	font-size: 40px;
}

.number
{
	padding: 0;
}
a
{
	background-color: indigo;
	color: crimson;
	text-decoration: none;
	transition: all 0.5s;
	font-size: 24px;
	padding: 10px;
}
a:hover{
	background-color: lightpink;
	color: mediumspringgreen;
	text-decoration: none;
	font-size: 24px;
	padding: 10px;
}
iframe
{
	width: 100%;
}

ul.list > li
{
	text-decoration: none;
	color: black;
	margin-left:10px;
}

ul.list > p
{
	color: black;
	font-weight: 700;
	margin: 0;
}

.map
{
	background: white;
	padding: 30px;
}